@using System.Data;
@using AuthenticationLearning_WithoutWebApi.Models;
@{
    ManagePricing_IndexViewModel managePricing_IndexViewModel = Model;
}
<style>
    .overlay {
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        background-color: #008CBA;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s ease;
    }

    /*.container:hover .overlay {
        bottom: 0;
        height: 100%;
    }*/

    .text {
        color: maroon !important;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
</style>
<table class="table table-striped datatable">
    <thead><tr><th>Photo</th><th>Product Id</th><th>Product Name</th><th>Buy Price</th><th>Sell Price</th><th>Profit</th><th>MRP</th><th>Actions</th></tr></thead>
    <tbody>
        @foreach (DataRow row in managePricing_IndexViewModel.PricingDataTable.Rows)
        {
            <tr>
                <td>
                    @if (managePricing_IndexViewModel.ProductPhotoMappingDic.ContainsKey(row["ProductPricingId"].ToString()))
                    {
                        int count = 1;
                        <div id="myCarousel_@row["ProductPricingId"].ToString()" class="carousel slide">
                            <!-- main slider carousel items -->
                            <div class="carousel-inner">
                                @foreach (string Photo in managePricing_IndexViewModel.ProductPhotoMappingDic[row["ProductPricingId"].ToString()].ToList())
                                {
                                    if (count == 1)
                                    {
                                        <div class="active item" data-slide-number="@count" >
                                            <img src="data:image/png;base64, @Photo" class="img-responsive" onmouseover="ImageOverlay('@row["ProductPricingId"].ToString()-@count')">
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="item" data-slide-number="@count" >
                                            <img src="data:image/png;base64, @Photo" class="img-responsive" onmouseover="ImageOverlay('@row["ProductPricingId"].ToString()-@count')">
                                        </div>
                                    }
                                    <div class="overlay" id="@row["ProductPricingId"].ToString()-@count">
                                        <div class="text">
                                            <a onclick="CUPhotoDetailsModal('','@row["ProductPricingId"].ToString()','@count','@row["ProductId"]')"><i class="fa fa-plus" style="color: green !important;"></i></a>
                                            <a onclick="CUPhotoDetailsModal('@managePricing_IndexViewModel.PhotoMappingIdDic[Photo].ToString()','@row["ProductPricingId"].ToString()','@count','@row["ProductId"]')"><i class="fa fa-pencil" style="color: orange !important;"></i></a>
                                        </div>
                                    </div>
                                    count++;
                                }
                            </div>
                            <a class="carousel-control left" data-target="#myCarousel_@row["ProductPricingId"].ToString()" data-slide="prev"><i class="glyphicon glyphicon-arrow-left"></i></a>
                            <a class="carousel-control right" data-target="#myCarousel_@row["ProductPricingId"].ToString()" data-slide="next"><i class="glyphicon glyphicon-arrow-right"></i></a>
                        </div>
                    }
                    else
                    {
                        <div id="myCarousel" class="carousel slide">
                            <!-- main slider carousel items -->
                            <div class="carousel-inner">
                                <div class="active item" data-slide-number="0">
                                    <img src="http://placehold.it/1200x480&amp;text=one" class="img-responsive">
                                </div>
                                <div class="overlay">
                                    <div class="text">Hello World</div>
                                </div>
                            </div>
                            <a class="carousel-control left" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-arrow-left"></i></a>
                            <a class="carousel-control right" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-arrow-right"></i></a>
                        </div>
                    }
                </td>
                <td>@row["ProductId"].ToString()</td>
                <td>@row["ProductName"].ToString()</td>
                <td>@row["BuyPrice"].ToString()</td>
                <td>@row["SellPrice"].ToString()</td>
                <td>@row["Profit"].ToString()</td>
                <td>@row["MRP"].ToString()</td>
                <td><a href="#" onclick="UpdatePricingModal('@row["ProductPricingId"]','@row["ProductId"]','@row["ProductName"]','@row["BuyPrice"]','@row["SellPrice"]','@row["Profit"]','@row["MRP"]')"><i class="fa fa-pencil"></i></a>&emsp;<a href="#" onclick="DeletePricing('@row["ProductPricingId"]','@row["ProductId"]')"><i class="fa fa-trash-o"></i></a></td>
            </tr>
        }
    </tbody>
</table>
<div id="PricingPhotoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="myModalLabel">Update Photo</h3>
                @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>*@
            </div>
            @using (Html.BeginForm("CUProductImage", "ManagePricing", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return myFunction()" }))
            {
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2 control-label">Image:</div>
                            <div class="col-md-10">
                                <input type="file" id="ImageFile" name="ImageFile" class="" />
                            </div>
                        </div>
                        <h3 id="ProductId_Image"></h3>
                        @*<center><img src="http://placehold.it/1200x480&amp;text=one" class="img-responsive" id="ProductImage_Image"></center>*@<br />
                        <center>Ordinal: <input type="number" class="form-control" id="Ordinal_Image" name="Ordinal"/></center>
                        <input type="hidden" id="ProductId_ImageVal" name="ProductId" />
                        <input type="hidden" id="ProductPhotoMappingId_Image" name="ProductPhotoMappingId"/>
                        <input type="hidden" id="QuerySelector" name="QuerySelector"/>
                        <input type="hidden" id="ProductPricingId_Image" name="ProductPricingId"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel/Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            }
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".datatable").DataTable();
        var ErrorMessage = "@managePricing_IndexViewModel.ErrorMessage";
        var SuccessMessage="@managePricing_IndexViewModel.SuccessMessage";
        if (ErrorMessage != null && ErrorMessage != "" && ErrorMessage != undefined) {
            $("#ErrorMessage_js").html(ErrorMessage);
            var ErrorAlert = $("#temp_element_error").html();
            $("#UploadExcelContainer").prepend(ErrorAlert);
        }
        if (SuccessMessage != null && SuccessMessage != "" && SuccessMessage != undefined) {
            $("#SuccessMessage_js").html(SuccessMessage);
            var SuccessAlert = $("#temp_element_success").html();
            $("#UploadExcelContainer").prepend(SuccessAlert);
        }
    });
    function ImageOverlay(OverlayId) {
        $("#" + OverlayId).attr('style', 'bottom:0; height:100%;');
        $("#" + OverlayId).mouseleave(function () {
            ImageOverlayOut(OverlayId);
        });
    }
    function ImageOverlayOut(OverlayId) {
        $("#" + OverlayId).attr('style', 'bottom:100%; height:0;');
    }
    function CUPhotoDetailsModal(ProductPhotoMappingId, ProductPricingId, Ordinal, ProductId) {
        if (ProductPhotoMappingId == null || ProductPhotoMappingId == "") {
            ///add
            $("#ProductId_ImageVal").val(ProductId);
            $("#Ordinal_Image").val(Ordinal);
            $("#ProductPricingId_Image").val(ProductPricingId);
            $("#PricingPhotoModal").modal();

        }
        else
        {
            ///edit
            $("#ProductPhotoMappingId_Image").val(ProductPhotoMappingId);
            $("#ProductId_ImageVal").val(ProductId);
            $("#Ordinal_Image").val(Ordinal);
            $("#ProductPricingId_Image").val(ProductPricingId);
            $("#PricingPhotoModal").modal();
        }
    }

</script>