@using System.Data;
@using AuthenticationLearning_WithoutWebApi.Models;
@{
    ManagePricing_IndexViewModel managePricing_IndexViewModel = Model;
}
<div class="row">
    @foreach (DataRow row in managePricing_IndexViewModel.PricingDataTable.Rows)
    {
        if (managePricing_IndexViewModel.IsChampion)
        {
            float profit = float.Parse(row["SellPrice"].ToString()) - float.Parse(row["BuyPrice"].ToString());
            float BuyPrice_Quantity= float.Parse(row["BuyPrice"].ToString()) * float.Parse(row["Quantity"].ToString());
            float SellPrice_Quantity = float.Parse(row["SellPrice"].ToString()) * float.Parse(row["Quantity"].ToString());
            float profit_Quantity = profit * float.Parse(row["Quantity"].ToString());
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="container" style="text-align:center;">
                    <div class="panel panel-default">
                        <div class="panel-heading">@row["ProductName"].ToString()</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-4 col-sm-4 col-xs-4">
                                    <center>
                                        @*<img src="http://placehold.it/150X150" class="img-circle img-responsive" />*@
                                        @if (managePricing_IndexViewModel.ProductPhotoMappingDic.ContainsKey(row["ProductPricingId"].ToString()))
                                        {
                                            int count = 1;
                                            <div id="myCarousel_@row["ProductPricingId"].ToString()" class="carousel slide">
                                                <!-- main slider carousel items -->
                                                <div class="carousel-inner">

                                                    @foreach (string Photo in managePricing_IndexViewModel.ProductPhotoMappingDic[row["ProductPricingId"].ToString()].ToList())
                                                    {
                                                        if (count == 1)
                                                        {
                                                            <div class="active item" data-slide-number="@count">
                                                                <img src="data:image/png;base64, @Photo" class="img-responsive">
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="item" data-slide-number="@count">
                                                                <img src="data:image/png;base64, @Photo" class="img-responsive">
                                                            </div>
                                                        }
                                                        count++;
                                                    }
                                                </div>
                                                <a class="carousel-control left" data-target="#myCarousel_@row["ProductPricingId"].ToString()" data-slide="prev"><i class="glyphicon glyphicon-arrow-left"></i></a>
                                                <a class="carousel-control right" data-target="#myCarousel_@row["ProductPricingId"].ToString()" data-slide="next"><i class="glyphicon glyphicon-arrow-right"></i></a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div id="myCarousel" class="carousel slide">
                                                <!-- main slider carousel items -->
                                                <div class="carousel-inner">
                                                    <div class="active item" data-slide-number="0">
                                                        <img src="http://placehold.it/1200x480&amp;text=one" class="img-responsive">
                                                    </div>
                                                </div>
                                                <a class="carousel-control left" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-arrow-left"></i></a>
                                                <a class="carousel-control right" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-arrow-right"></i></a>
                                            </div>
                                        }
                                    </center>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <p class="text-center lead">@row["ProductName"].ToString() - @row["ProductId"].ToString()</p>
                                    <h5 class="text-center">Buy Price: Rs.@row["BuyPrice"].ToString() x @row["Quantity"].ToString() = @BuyPrice_Quantity</h5>
                                    <h5 class="text-center">Sell Price: Rs.@row["SellPrice"].ToString() x @row["Quantity"].ToString() = @SellPrice_Quantity</h5>
                                        <div class="text-center">
                                            <center>
                                                <div class="input-group" style="width:150px;">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus" data-field="" onclick="DecreaseCartQty('@row["ProductPricingId"].ToString()')">
                                                            <span class="glyphicon glyphicon-minus"></span>
                                                        </button>
                                                    </span>
                                                    <input type="text" id="quantity_@row["ProductPricingId"].ToString()" name="quantity" class="form-control input-number" value="@row["Quantity"].ToString()" min="1">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="" onclick="IncreaseCartQty('@row["ProductPricingId"].ToString()')">
                                                            <span class="glyphicon glyphicon-plus"></span>
                                                        </button>
                                                    </span>
                                                </div>
                                            </center><br />
                                        </div>
                                        <div class="text-center">
                                            @*<button class="btn btn-primary" style="border-radius:50%;" id="UpdateCart_@row["ProductPricingId"].ToString()" onclick="UpdateCartItem('@row["ProductPricingId"].ToString()')">
                                                <i class="fa fa-shopping-cart"></i>
                                            </button>&emsp;*@
                                            <button class="btn btn-danger" id="RemoveItem_@row["ProductPricingId"].ToString()" onclick="DeleteCartItem('@row["ProductPricingId"].ToString()')">
                                                Delete this Item
                                            </button>
                                        </div>
                                    <hr />
                                    <h4 class="text-center">Profit / Item: Rs.@profit & Total Profit: @profit_Quantity</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
<script>
    $(document).ready(function () {
        var ErrorMessage = "@managePricing_IndexViewModel.ErrorMessage";
        var SuccessMessage="@managePricing_IndexViewModel.SuccessMessage";
        if (ErrorMessage != null && ErrorMessage != "" && ErrorMessage != undefined) {
            $("#ErrorMessage_js").html(ErrorMessage);
            var ErrorAlert = $("#temp_element_error").html();
            $("#CallBackContainer").prepend(ErrorAlert);
        }
        if (SuccessMessage != null && SuccessMessage != "" && SuccessMessage != undefined) {
            $("#SuccessMessage_js").html(SuccessMessage);
            var SuccessAlert = $("#temp_element_success").html();
            $("#CallBackContainer").prepend(SuccessAlert);
        }
    });
</script>
<script src="~/Scripts/ChampionCheckoutDetails.js"></script>